.banner{
    width: 100%;
    height: 540px;
    background-color: #0054A7;
}
.banner-cont{
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.banner-cont h1{
    color: #fff;
}
.banner-word{
    padding-top: 240px;
}
.banner-word p{
    font-size: 20px;
    line-height: 64px;
}
.banner-img{
    position: relative;
}
.banner-img img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 400px;
}

.all-cont{
    background: #EFF3F9;
    padding-bottom: 90px;
}
/*公司简介*/
.company-profile{
    padding-top: 96px;

}
.company-profile h1{
    text-align: center;
}
.company-profile .company-logo{
    text-align: center;
    padding-top: 46px;
    padding-bottom: 28px;
}
.company-profile p{
    font-size: 16px;
    line-height: 30px;
    padding: 0 100px;
    color: #333333;
}
/*君林文化*/
.culture{
    margin-top: 94px;
}
.culture .row{
    background-color: #fff;

}
.culture .row:hover{
    box-shadow: 0px 0px 25px #C9D3E3;
    /*D6E2F0*/
}
.culture h1{
    text-align: center;
    margin-bottom: 64px;
}
.culture .row{
    margin-bottom: 25px;
}
.culture .col-md-6{
    padding: 0;
}
.culture .culture-cont{
    padding-left: 64px;
}
.culture .culture-cont h4{
    padding-top: 36px;
    font-size: 20px;
    color: #2b4158;
}
.culture .culture-cont h4:first-child{
    padding-top: 48px;
}
.culture .culture-cont p{
    font-size: 16px;
    color: #637685;
    line-height: 40px;
}
.culture img{
    vertical-align: bottom;
}
/*发展经历*/
.home-about-wrap{
    text-align: center;
    margin-top: 69px;
}
.home-about-wrap .home-about-cont{
    background: url("../images/map.png") center no-repeat;
    background-size: 100%;
    text-align: center;
}
.home-about-wrap h1{
    text-align: center;
    margin-bottom: 24px;
}
#yearList li{
    color: #647687;
}
.year-dot{
    background-color: #d1d5d9;
}
#btnLeft,#btnRight{
    background: transparent;
    box-shadow: none;
    line-height: normal;
}

@media (max-width: 1200px) {
    .culture .culture-cont h4{
        padding-top: 30px;
    }
    .culture .culture-cont h4:first-child{
        padding-top: 40px;
    }
}
@media (max-width: 992px) {
    .culture .culture-cont{
        padding-left: 34px;
    }
    .culture .culture-cont h4{
        padding-top: 14px;
    }
    .culture .culture-cont h4:first-child{
        padding-top: 20px;
    }
}
@media (max-width: 768px) {

    .banner-cont{
        display: block;
        text-align: center;
    }
    .banner-word{
        padding-top: 160px;
    }
    .banner-img img{
        position: relative;
        width: 200px;
        height: auto;
        bottom: -20px;
    }


    .culture .row{
        width: 100%;
        margin: 20px auto;
    }
    .culture .culture-cont{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 36px;
    }
    .culture .culture-cont h4{
        padding-top: 36px;
    }
    .culture .culture-cont h4:first-child{
        padding-top: 48px;
    }

    .company-profile p{
        padding: 0 16px;
    }
}
