body {
    background: #fff;
    color: #000;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}
a {
    transition: 0.5s;
}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
img{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}
p {
    padding: 0;
    margin: 0 0 0px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 0px 0;
    padding: 0;
}
h1{
    font-weight: 600;
    color: #182d41;
}
h3{
    color: #2c4156;
}
ul,li,dl,dd,dt,ol{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

.backUp{
    position: fixed;
    right: 2%;
    bottom: 4%;
    display: none;
    z-index: 10000;
    cursor: pointer;
}
.all-cont{
    background: #eff3f9;
}
